body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.instrucciones {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

#formularioPresupuesto {
    text-align: justify;
    background-color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


h1 {
    font-size: 1.5em;
    color: #0056b3;
    margin-bottom: 20px;
}

h3 {
    color: #0056b3;
    margin-bottom: 20px;
}


.botonInicio {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonInicio:hover {
    background-color: orange;
}


#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#cotizaciones-lista {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#listaCotizaciones li {
    list-style: none;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 4px;
}

#listaCotizaciones button {
    background-color: #0056b3;
    color: white;
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#listaCotizaciones button:hover {
    background-color: orange;
}
